In [1]:
# import required libraries
import numpy as np
import pandas as pd

In [2]:
# import the dataset
data = pd.read_csv("accident_data.csv")
data.shape

(660679, 14)

In [3]:
# first five records
data.head()

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,05-06-2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,02-07-2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,03-09-2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle

In [4]:
# check datatypes
data.dtypes

Index                       object
Accident_Severity           object
Accident Date               object
Latitude                   float64
Light_Conditions            object
District Area               object
Longitude                  float64
Number_of_Casualties         int64
Number_of_Vehicles           int64
Road_Surface_Conditions     object
Road_Type                   object
Urban_or_Rural_Area         object
Weather_Conditions          object
Vehicle_Type                object
dtype: object

In [6]:
# descriptive statistics
data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Index,660679,421020,2.01E+12,239478,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accident_Severity,660679,3,Slight,563801,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accident Date,660679,1461,30-11-2019,704,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Latitude,660654.0,NaN,NaN,NaN,52.553866,1.406922,49.91443,51.49069,52.315641,53.453452,60.757544
Light_Conditions,660679,5,Daylight,484880,NaN,NaN,NaN,NaN,NaN,NaN,NaN
District Area,660679,422,Birmingham,13491,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Longitude,660653.0,NaN,NaN,NaN,-1.43121,1.38333,-7.516225,-2.332291,-1.411667,-0.232869,1.76201
Number_of_Casualties,660679.0,NaN,NaN,NaN,1.35704,0.824847,1.0,1.0,1.0,1.0,68.0
Number_of_Vehicles,660679.0,NaN,NaN,NaN,1.831255,0.715269,1.0,1.0,2.0,2.0,32.0
Road_Surface_Conditions,659953,5,Dry,447821,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Road_Type,656159,5,Single carriageway,492143,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Urban_or_Rural_Area,660664,3,Urban,421663,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Weather_Conditions,646551,8,Fine no high winds,520885,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vehicle_Type,660679,16,Car,497992,NaN,NaN,NaN,NaN,NaN,NaN,NaN